body {
  font-family: arial, sans-serif;
  color: #222;
}

div {
  display: block;
}

.searchform {
  position: absolute;
  top: 311px;
  margin-top: 0;
  width: 100%;
}

.navbar {
  position: absolute;
  right: 0;
  top: -295px;
  width: 100%;
}

.inline {
  align-items: center;
  color: #222;
  cursor: auto;
  display: flex;
  height: 30px;
  justify-content: flex-start;
  float: right;
  position: relative;
  line-height: 24px;
  font-size: 13px;
  text-align: right;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 30px;
}

.login {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  color: #fff;
  background-color: #4684EF;
  padding: 0 12px 0 12px;
  border-radius: 2px;
  border: 1px solid #4285f4;
}

.link {
  text-decoration: none;
  color: #3f3f3f;
  opacity: 0.75;
}

.link:hover {
  text-decoration: underline;
}

.squares {
  opacity: 0.55;
  cursor: default;
}

.squares:hover {
  opacity: 1;
}

.logo {
  background-image: url(https://www.google.pt/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 272px 92px;
  display: block;
  height: 92px;
  text-align: center;
}

.logo-subtext {
  color: #4285f4;
  font: 16px roboto-regular, arial, sans-serif;
  position: relative;
  left: 110px;
  top: 76px;
}

.search {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
  background: url(&quot;data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D&quot;) transparent;
  width: 350px;
}

.search:focus {
  outline: none;
}

.searchbox {
  margin: 30px auto 30px auto;
  display: block;
  border: 1px solid #d9d9d9;
  padding: 10px;
  width: 416px;
}

.micro {
  display: block;
  float: right;
  width: 24px;
  height: 24px;
}

.keyboard {
  display: block;
  float: right;
  padding: 5px;
  padding-right: 10px;
  width: 19px;
  height: 11px;
  opacity: 0.55;
}

.keyboard:hover {
  opacity: 1;
}

.btn {
  font-weight: bold;
  line-height: 36px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-size: 13px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
}

.btn:hover {
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px #888888;
  color: #000;
}
